name: Test entrypoints
on: [push, pull_request]
jobs:
  test-entrypoints:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: python -m pip install -U pip
      - run: python -m pip install .
      - run: matrix-webhook -h
      - run: python -m matrix_webhook -h
