name: Lints
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pipx install poetry
      - uses: actions/setup-python@v4
          with:
            python-version: '3.10'
            cache: poetry
      - run: poetry install --with dev --no-interaction
      - run: poetry run flake8 .
      - run: poetry run black .
      - run: poetry run pydocstyle
      - run: poetry run safety check
      - run: poetry run poetry check
